%% Memoiz Library example configuration file.

%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

[
 {memoiz,
  [
   %% Maximum count of stored values.
   %% When maximum is reached, the least recent item will be dropped off
   %% before the new one will be inserted.
   %% Valid values: positive integer or atom 'infinity'.
   %% Default: infinity
   {max_size, infinity},

   %% Maximum memory amount (in bytes) occupied by the library storage.
   %% When maximum is reached, the least recent item (or items) will be
   %% dropped off before the new one will be inserted.
   %% Valid values: positive integer or atom 'infinity'.
   %% Default: infinity
   {max_mem, infinity}
  ]}
].
